@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;

html {
    font-size:10px;
    font-family: $primary-font;
    scrollbar-width:none;
    //scroll-behavior:smooth;

    /*::-webkit-scrollbar {
        width: 0;
        height: 0;
    }*/
    
    p { margin:0 }

    body {
        background-color:$white;
        font-size:1.6rem;
        margin:0;
        overflow:auto!important;
        position:relative;

        .wrapper {
            max-width:120rem;
            padding:0 2rem;
            margin:auto;
        }
    }
    .os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
        background-color:$red!important;
        border-radius:7px;
    }
    .os-theme-dark>.os-scrollbar, .os-theme-light>.os-scrollbar {
        padding:0!important;
    }
    .os-scrollbar-vertical, .os-scrollbar-horizontal {
        bottom:14px!important;
        width:10px!important;
        right:4px!important
    }
}