html {
    @media only screen and (max-width:768px) {
        font-size:8px!important;
 
        main section.news .wide-review {
            padding:0 6rem;
        }
        .scrollTopBtn {
            width:4rem;
            height:4rem;
            bottom:4rem;
            right:4rem;
            line-height:4rem;
        }
    }
}