@use '../abstracts' as *;

.deals-card {
    background-color:$grey-4;
    margin-bottom:$s2;
    border-radius:.8rem;
    padding:$s3;
    display:flex;
    flex-direction:column;
    font-family:$secondary-font;
    font-weight:325;

    .deals-text {
        font-size:1.6rem;
        color:$grey-2;
        text-transform:uppercase;
        line-height:1.5;
        margin:0 0 $s5;
    }
    .deals-email-label {
        font-size:1.5rem;
        margin-bottom:$s7;
        font-weight:350;
        text-transform:uppercase;
    }
    .deals-email {
        border:.2rem solid $grey-2;
        border-radius:.5rem;
        padding:.8rem;
        font-size:1.4rem;
    }
    .deals-policy {
        color:$grey-2;
        font-size:1.3rem;
        line-height:1.4;
        margin:$s5 0;

        span {
            color:$red;
            font-weight:350;
        }
    }
    .deals-btn {
        background-color:$black-1;
        line-height:3.5rem;
        color:$white;
        text-transform:uppercase;
        border-radius:.3rem;
    }
    
}
