@use '../abstracts' as *;

.scrollTopBtn {
    width:5rem;
    height:5rem;
    border-radius:50%;
    background-color:$red;
    color:$white;
    font-size:2rem;
    position:fixed;
    bottom:5rem;
    right:5rem;
    text-align:center;
    line-height:5rem;
    opacity:1;
    transition:opacity .1s ease-in;

    &[disabled] {
        opacity:0;
        cursor:default;
    }
}