$white:#ffffff;
$black-1:#0c1010;
$black-2:#171d1e;
$grey-1:#595d5e;
$grey-2:#818689;
$grey-3:#b8c0c7;
$grey-4:#ebf0f5;
$grey-blue:#4a5862;
$green-1:#8bd72c;
$green-2:#dcf3bf;
$red:#d50014;
$facebook:#4267B2;
$twitter:#1DA1F2;
