@use '../abstracts/colors' as *; 

@mixin flexWrapper {
    .wrapper {
        min-height:inherit;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
    }
}
@mixin articleDot { 
    position:relative; 

    &::after {
        content:'.';
        display:block;
        color:$green-1;
        position:absolute;
        bottom:.2rem;
        right:1rem;
        font-size:4rem;
        font-weight:700;
    }
}
